.card-container {
    height: auto;
    background-color: #eee;
    border-radius: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0.5rem;
    margin: 0.5rem;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: scale(1.1);
}

.para-text {
    position: relative;
    color: #111;
    text-decoration: none;
    font-size: 1.3rem;
    width: fit-content;
    display: block;
}

.para-text:hover {
    color: #111;
}

.para-text::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.para-text:hover::before {
    transform: scaleX(1);
}