.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.search-heading {
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem;
    margin-bottom: 0;
}

.search-box {
    margin-top: 0rem;
    padding: 1rem;
    width: 30rem;
    margin: 2rem;
    font-size: 2rem;
}